div {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
  font-family: 'IBM Plex Serif', serif;
  overflow: hidden;
}

.spin  {
  animation: App-logo-spin infinite 25s linear;
  pointer-events: none;
}

.sol {
  margin: auto;
  width: 100%;
  border-radius: 1200px;
  position: relative;
  top: -320px;
  max-width: 640px;
  z-index: 4;
}

.sol:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.shadow {
  top: -960px;
  display: block;
}

.content {
  position: absolute;
  top: 320px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
  border-radius: 12px;
  padding: 24px;
  width:  100%;
  text-align: center;
}

.label {
  color: rgba(0,0,0,.5)
}

.uv-number {
  line-height: 180px;
  font-size: 200px;
}

.uv-status {
  line-height: 64px;
  font-size: 48px;
}

.location {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 96px;
  z-index: 4;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.location-name {
  font-size: 48px;
  margin-bottom: 24px;
  font-weight: 700;
}

.fixed-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 45px;
  height: 64px;
  width: 64px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.fixed-button.invert {
  background: limegreen;
  color: #111;
}

.fixed-button.cancel {
  color: #111;
  right: 104px;
}

.buddy {
  right: 104px;
}

.search-container {
  background: #111;
  color: white;
  padding: 40px;
  height: 100vh;
  width: 100vw;
  transition-duration: 1000ms;
  overflow: hidden;
}

.App, .sol, .uv-number, .uv-status {
  transition-duration: 750ms;
}

.title {
  font-size: 24px;
  color: rgba(255,255,255,.5);
}

input.geosuggest__input {
  font-size: 80px;
  background: transparent;
  border: none;
  color: white;
  font-weight: 700;
  font-family: 'IBM Plex Serif', serif;
  border-bottom: 2px solid transparent;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0px;
}

input.geosuggest__input:focus {
  outline: none;
  border-bottom: 2px solid white;
  transition-duration: 1000ms;
}

.geosuggest__suggests-wrapper {
  font-size: 48px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.browser {
  display: none;
}

@media (max-width: 639px) {
  .sol {
    top: -50vw;
  }
  .shadow {
    top: -150vw;
  }
  input.geosuggest__input {
    font-size: 40px;
  }
  .geosuggest__suggests-wrapper {
    font-size: 24px;
  }
  .content {
    top: 50vw;;
  }
  .uv-number {
    line-height: 120px;
    font-size: 144px;
  }
  .uv-status {
    line-height: 80px;
    font-size: 48px;
  }
  .fixed-button {
    bottom: 16px;
    right: 16px;
    position: fixed;
  }
  .buddy {
    right: 96px;
  }
  .search-container {
    padding: 16px;
  }
  input {
    text-indent: 0px;
  }
  .location-name {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-height: 540px) {
  .App {
    opacity: 0;
    display: none;
  }
  .browser {
    display: flex;
    font-size: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 500px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
